/* CSS Variables */

body {
  background: #a39274;
}


h1 {
  color: #252523;
  font-family: 'Bowlby One SC';
  font-size: 48px;
  letter-spacing: 5px;
  text-align: center;
}

/* Typeograpy
  *Primary Font: font-family: 'Sigmar One';
*/

p {
  color: #252523;
  font-family: 'Sigmar One';
}

main { 
  margin: 0 auto;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr;
}

main img {
  grid-column: 1 / 1;
}

/* Mobile 
  0 to 26em (416 pixels)
*/
@media only screen and (min-width: 0) { 
    
  
}

/* Tablet 
  26em (416 pixels) to 72em (1,152 pixels)
*/
@media only screen and (min-width: 26em)  {
    


}

/* Desktop 
   72em (1,152 pixels) to 90em (1440 pixels)
*/
@media screen and (min-width: 72em)  { 
  


}

/* Wide Desktop: 
  Greater than 90em (1440px)
*/
@media screen and (min-width: 90em) { 
  

}